*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
   background:url('coffee2.png') no-repeat center center fixed;
   background-size: cover;
   backdrop-filter: blur(4px);
}

.hero ,.types{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
      border-radius: 16px;
      padding: 20px;
      margin: 20px 10px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
     
}

.hero .content{
    text-align: center;
    color: #fff;
}
.types .content{
    text-align: center;
    color: black;
}
